{% extends 'base.html' %}
{% block title %}Add Teamsheet{% endblock %}
{% block content %}
<h1>Add Teamsheet</h1>
<p>Enter match details and up to {{ squad_size }} players. Scores automatically determine the result.</p>
{% set values = defaults %}
{% set players = defaults.players %}
{% set form_action = url_for('admin.add') %}
{% set submit_label = 'Add teamsheet' %}
{% include '_teamsheet_form.html' %}
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='teamsheet-form.js') }}?v=1"></script>{% endblock %}
